# Airbnb Rate Analysis 

-Calculate the yearly average annual rate for each neigbourhood for each year, SD for each neigbourhood for each year, get the gragh to see the price trend, maps for the sf (later)

In [2]:
# Dependencies
import pandas as pd
import csv
import os

In [3]:
#Create a dataframe from the csv file
airbnb_df = pd.read_csv("./Data/Airbnb_listings.csv")
airbnb_df.head()

,Unnamed: 0,date,neighbourhood,property type,daily rate,annual rate (USD)
0,0,2016-10,Seacliff,House,$105.00,38325.0
1,1,2016-10,Seacliff,House,$300.00,109500.0
2,2,2016-10,Seacliff,Apartment,$175.00,63875.0
3,3,2016-10,Seacliff,House,$90.00,32850.0
4,4,2016-10,Seacliff,Condominium,$400.00,146000.0

In [4]:
#Clean the data
airbnb_df.columns

Index(['Unnamed: 0', 'date', 'neighbourhood', 'property type', 'daily rate',
       'annual rate (USD)'],
      dtype='object')

In [5]:
airbnb_rate = airbnb_df.drop(['Unnamed: 0'], axis=1)
airbnb_rate.head()

      date neighbourhood property type daily rate  annual rate (USD)
0  2016-10      Seacliff         House    $105.00            38325.0
1  2016-10      Seacliff         House    $300.00           109500.0
2  2016-10      Seacliff     Apartment    $175.00            63875.0
3  2016-10      Seacliff         House     $90.00            32850.0
4  2016-10      Seacliff   Condominium    $400.00           146000.0

In [6]:
data = airbnb_rate

In [7]:
#for each in data['date']:
  #  return each[:4]

In [8]:
data['date'] = [each[:4] for each in data['date']]
data['date'].head()

0    2016
1    2016
2    2016
3    2016
4    2016
Name: date, dtype: object

In [9]:
data.head()
data_2015 = data[data['date'] == '2015'] 
data_2015.head()

       date neighbourhood property type daily rate  annual rate (USD)
24444  2015      Seacliff     Apartment    $350.00           127750.0
24445  2015      Seacliff         House    $300.00           109500.0
24446  2015      Seacliff         House    $119.00            43435.0
24447  2015      Seacliff     Apartment     $79.00            28835.0
24448  2015      Seacliff     Apartment    $695.00           253675.0

In [10]:
data_year_2015 = data[data["date"] == '2015']
avg_2015 = data_year_2015.groupby(['neighbourhood'])["annual rate (USD)"].mean()
df = pd.DataFrame({
    'neighbourhood':avg_2015.index,
    'Annual Average':avg_2015.values
})

merged_2015 = pd.merge(data_2015, df, on="neighbourhood")
merged_2015.head()

,date,neighbourhood,property type,daily rate,annual rate (USD),Annual Average
0,2015,Seacliff,Apartment,$350.00,127750.0,90754.150943
1,2015,Seacliff,House,$300.00,109500.0,90754.150943
2,2015,Seacliff,House,$119.00,43435.0,90754.150943
3,2015,Seacliff,Apartment,$79.00,28835.0,90754.150943
4,2015,Seacliff,Apartment,$695.00,253675.0,90754.150943

In [11]:
data_year_2016 = data[data["date"] == '2016']
avg_2016 = data_year_2016.groupby(['neighbourhood'])["annual rate (USD)"].mean()
avg_2016.head()
df = pd.Data

AttributeError: module 'pandas' has no attribute 'Data'

In [1]:
data_year_2017 = data[data["date"] == '2017']
avg_2017 = data_year_2017.groupby(['neighbourhood'])["annual rate (USD)"].mean()
avg_2017

NameError: name 'data' is not defined

In [74]:
new_df = pd.DataFrame({
    "date":['2015', '2016', '2017'],
    "neighbourhood":[avg_2015.index[0:], avg_2016.index[0], avg_2017.index[0]],
    "Average Annual Rate":[avg_2015.values[0], avg_2016.values[0], avg_2017.values[0]]
})

new_df

   date neighbourhood  Average Annual Rate
0  2015       Bayview         46374.210526
1  2016       Bayview         58118.039049
2  2017       Bayview         45354.454349