### Importing Dependencies

In [1]:
# Dependencies
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import csv
#import requests
#import json
#import gmaps
#import gmaps.datasets

### Creating Dataframe from the csv file

In [2]:
#Create a dataframe from the csv file
rent_df = pd.read_csv("rent_raw.csv")
rent_df.head()

,Region Name,Region Type,Data Type,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,neighborhood,All Homes,3183,3179,3078,2917,2706,2571,2480,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,neighborhood,All Homes,3155,3146,3110,3013,2882,2798,2763,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,neighborhood,All Homes,3551,3604,3636,3601,3514,3413,3362,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,neighborhood,All Homes,3504,3544,3551,3500,3406,3316,3261,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,neighborhood,All Homes,4243,4401,4438,4412,4324,4319,4370,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

### Cleaning Data and Creating new DataFrame

In [3]:
# Remove the Region Type, Data Type columns
rent_df = rent_df.drop(["Region Type", "Data Type"], axis = 1)

In [4]:
# Rename the columns
rent_df = rent_df.rename(columns = {"Region Name": "Neighborhood"})
rent_df.head()

,Neighborhood,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,3183,3179,3078,2917,2706,2571,2480,2450,2437,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,3155,3146,3110,3013,2882,2798,2763,2767,2780,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,3551,3604,3636,3601,3514,3413,3362,3371,3428,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,3504,3544,3551,3500,3406,3316,3261,3265,3307,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,4243,4401,4438,4412,4324,4319,4370,4442,4495,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

In [5]:
# Create a function that returns the sum per row per year

def totals(df,str): # where str is the last two digits of the year
    year = df.filter(regex = str, axis = 1) # filter the columns based on the str
    
    return year.sum(axis = 1) # get the sum per row

In [6]:
# Create a list of years (with data for 12 months)
year_list = list(np.arange(11,18)) # creates a list of floats covering the year range of rent_df
year_list_str = [str(item) for item in year_list] # converts numbers to string
    
year_list_str

['11', '12', '13', '14', '15', '16', '17']

In [7]:
# Get a series of neighbourhoods
neighborhood = rent_df["Neighborhood"]

In [8]:
yearly_rate = [] # leads to a list of series

for year in year_list_str:
    yearly_rate.append(totals(rent_df,year))

In [9]:
# Create a dictionary
year_rent = pd.DataFrame(dict({"Neighborhood": neighborhood,
                               "2011": yearly_rate[0],
                               "2012": yearly_rate[1],
                               "2013": yearly_rate[2],
                               "2014": yearly_rate[3],
                               "2015": yearly_rate[4],
                               "2016": yearly_rate[5],
                               "2017": yearly_rate[6]}))

year_rent

,Neighborhood,2011,2012,2013,2014,2015,2016,2017
0,Bayview,30723,28821,30433,35338,42870,45681,45747
1,Bernal Heights,34471,35739,38924,43654,53977,54833,53741
2,Buena Vista,42407,45678,49364,53889,61646,65690,61917
3,Corona Heights,41051,44269,48263,52768,61781,64072,59849
4,Cow Hollow,52856,52816,56455,62256,75947,78557,71952
5,Crocker Amazon,31133,29851,32700,35965,42999,46775,45098
6,Diamond Heights,36285,37187,40827,45496,52941,54683,52414
7,Downtown,30867,32413,37094,41836,45888,48147,43747
8,Excelsior,31277,29939,32073,36329,43399,47102,45230
9,Financial District,50749,49586,56336,59751,75575,73448,68870
10,Forest Hill,48312,46451,52137,55429,67766,72182,68794
11,Forest Knolls,37977,40084,40165,47934,61497,61292,55385
12,Glen Park,39661,38692,40460,46253,58964,61949,56496
13,Golden Gate Heights,41205,39673,41132,47530,56869,62153,58254
14,Haight,40705,43470,46185,51620,59076,61462,57491
15,Hayes Valley,37659,42695,45522,50234,57185,57397,55167
16,Ingleside,30815,30007,32206,36867,44021,47426,44539
17,Ingleside Heights,29344,29281,30830,35377,42041,44217,42318
18,Ingleside Terrace,42007,39465,40905,48414,59744,64533,60947
19,Inner Richmond,42140,42804,46078,54086,64403,67152,63365
20,Inner Sunset,38809,38314,39644,46726,54878,58611,54780
21,Lake,53120,50271,55084,64645,77554,80636,80655
22,Lakeshore,36655,34822,37181,42678,49551,54499,51854
23,Laurel Heights,53096,52995,58366,65464,83258,86230,83106
24,Little Hollywood,30344,28978,31431,35330,41639,44587,43736
25,Lone Mountain,40284,42581,45762,50898,59236,63177,60904
26,Lower Pacific Heights,35917,39761,43776,48677,56145,54229,53018
27,Marina,51035,52040,58240,63926,77660,79339,76170
28,Midtown Terrace,35627,37669,39682,44805,52528,53875,50628
29,Miraloma Park,37254,36974,38700,44368,52094,54622,52528
...,...,...,...,...,...,...,...,...
33,Mount Davidson Manor,36736,36010,37598,44049,53196,56955,54700
34,Nob Hill,42413,44622,48324,51749,62760,64219,60638
35,Noe Valley,44162,44754,49995,53547,64871,67293,64255
36,North Beach,37995,41975,47594,49460,58693,57787,54659
37,North Waterfront,34702,38590,44866,45927,52775,53171,50236
38,Oceanview,30397,29645,31425,36191,42631,46151,43351
39,Outer Mission,30807,29746,32378,35883,43435,46788,44454
40,Outer Richmond,33598,35080,37893,44089,49632,53234,50425
41,Outer Sunset,31582,32118,35341,40952,46329,49051,46989
42,Pacific Heights,52744,52688,55809,60294,76171,77006,71138
43,Panhandle,37596,42397,44105,49299,56483,57848,55198
44,Parkside,33088,33713,36523,41617,47293,50989,49167
45,Portola,31881,30348,32281,36471,44678,48789,47583
46,Potrero Hill,36907,39975,43740,48146,57273,57852,54759
47,Presidio Heights,127688,123665,139274,151423,177832,193510,182993
48,Russian Hill,44766,46269,51547,55759,65678,66790,63153
49,Seacliff,101636,95365,108971,118992,150193,160275,147824
50,Silver Terrace,30945,29512,31076,36568,43563,46207,45820
51,South Beach,39710,41019,47255,51133,58609,57475,54793
52,South of Market,34134,37410,40589,45420,51266,50702,48045
53,St. Francis Wood,69361,65532,68816,72159,94538,105237,107361
54,Stonestown,40306,37921,39094,44954,55618,59743,57069
55,Sunnyside,32209,32308,35156,39570,46798,50422,49296
56,Telegraph Hill,39437,42125,46954,49743,58743,57462,54675
57,Twin Peaks,39640,39891,41426,45785,54840,62134,58433
58,Upper Market,37292,40576,42612,48107,55634,55207,52907
59,Visitacion Valley,29865,28593,31176,34997,41458,44562,43284
60,Western Addition,34341,37841,43551,47975,54058,54934,51436
61,Westwood Highlands,38955,38086,37890,45668,56137,58110,54588
62,Westwood Park,33709,34381,35900,43402,50441,53177,52141

In [11]:
# Save the file as csv file in the Data folder
year_rent.to_csv("../Data/yearly_rent.csv", encoding = "utf-8")

In [ ]:
# Calculate the

In [ ]:
#Counting Average Rent Rate for each Neighborhood
#Adding column "City", to specify the locations of Neighborhoods
for row in rent["Region Name"]:
    rent["Avg Rent Rate"]=rent.mean(axis=1)
    rent["City"] = "San Francisco"
rent.head()

In [ ]:
# Extracting Lat and Lng for each Neighborhood
rent["Lat"] = ""
rent["Lng"] = ""
# create a params dict
params = {"key": "AIzaSyAeEnQ_KhM7iD3A92bkFRr9lHJVg1Z6CeQ"}

# Loop through the rent dataframe and run a lat/long search for each neighborhood
for index, row in rent.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    neighborhood = row["Region Name"]
    city = row["City"]

    # update address key value
    params['address'] = f"{neighborhood},{city}"

    # make request
    lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    lat_lng = lat_lng.json()

    rent.loc[index, "Lat"] = lat_lng["results"][0]["geometry"]["location"]["lat"]
    rent.loc[index, "Lng"] = lat_lng["results"][0]["geometry"]["location"]["lng"]

In [ ]:
rent.to_csv('rent.csv', sep=',', encoding='utf-8')
rent.head()

### Creating Visual Graphs to see the patterns

In [ ]:
#Using Seaborn to create a graph that will show Average Rent Rate (per Neigborhood)
plot = plt.subplots(figsize=(30, 10))
sns.barplot(x = rent["Region Name"], y = rent["Avg Rent Rate"], palette="rocket")
plt.xticks(rotation=90)
plt.title("Average Rent Rate (per Neigborhood)", fontsize=30)

In [ ]:
#Importing csv file 
year_df = pd.read_csv("Yearly_Avg.csv")
year_df

In [ ]:
#Creating a graph that will show yearly change in price 
sns.lineplot(x = year_df["Year"], y = year_df["Year Avg ($)"], 
             marker ='D', linewidth=2, color = "purple")
plt.title("Rent Price(by Year)", fontsize=15)
plt.show()

### HeatMap

In [ ]:
#Creating a HeatMap to show Neighborhoods Rent Rates  
locations = rent[["Lat", "Lng"]]
weights = rent["Avg Rent Rate"]
fig = gmaps.figure(map_type="SATELLITE")
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, point_radius = 25))
fig