### Importing Dependencies

In [1]:
# Dependencies
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import csv
#import requests
#import json
#import gmaps
#import gmaps.datasets

### Creating Dataframe from the csv file

In [2]:
#Create a dataframe from the csv file
rent_df = pd.read_csv("rent_raw.csv")
rent_df.head()

,Region Name,Region Type,Data Type,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,neighborhood,All Homes,3183,3179,3078,2917,2706,2571,2480,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,neighborhood,All Homes,3155,3146,3110,3013,2882,2798,2763,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,neighborhood,All Homes,3551,3604,3636,3601,3514,3413,3362,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,neighborhood,All Homes,3504,3544,3551,3500,3406,3316,3261,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,neighborhood,All Homes,4243,4401,4438,4412,4324,4319,4370,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

### Cleaning Data and Creating new DataFrame

In [3]:
# Remove the Region Type, Data Type columns
rent_df = rent_df.drop(["Region Type", "Data Type"], axis = 1)

In [4]:
# Rename the columns
rent_df.rename(columns = {"Region Name": "Neighbourhood"})
rent_df.head()

,Region Name,Nov-10,Dec-10,Jan-11,Feb-11,Mar-11,Apr-11,May-11,Jun-11,Jul-11,...,Dec-17,Jan-18,Feb-18,Mar-18,Apr-18,May-18,Jun-18,Jul-18,Aug-18,Sep-18
0,Bayview,3183,3179,3078,2917,2706,2571,2480,2450,2437,...,3713,3663,3624,3602,3579,3558,3535,3519,3508,3502
1,Bernal Heights,3155,3146,3110,3013,2882,2798,2763,2767,2780,...,4490,4470,4457,4448,4444,4440,4443,4451,4459,4465
2,Buena Vista,3551,3604,3636,3601,3514,3413,3362,3371,3428,...,5207,5155,5139,5158,5187,5203,5201,5198,5203,5212
3,Corona Heights,3504,3544,3551,3500,3406,3316,3261,3265,3307,...,5082,5070,5057,5060,5069,5082,5086,5087,5087,5083
4,Cow Hollow,4243,4401,4438,4412,4324,4319,4370,4442,4495,...,6050,6061,6052,6034,6009,5979,5964,5972,6013,6065

In [8]:
# Create a function that returns the sum per row per year

def totals(df,str): # where str is the last two digits of the year
    year = df.filter(regex = str, axis = 1) # filter the columns based on the str
    
    return year.sum(axis = 1) # get the sum per row

y2010 = totals(rent_df,"10")
y2011 = totals(rent_df,"11")
y2012 = totals(rent_df,"12")
y2013 = totals(rent_df,"13")
y2014 = totals(rent_df,"14")
y2015 = totals(rent_df,"15")
y2016 = totals(rent_df,"16")
y2017 = totals(rent_df,"17")
y2018 = totals(rent_df,"18")

In [17]:
# Create a list of years
year_list = list(np.arange(11,18)) # creates a list of floats covering the year range of rent_df
year_list_str = [str(item) for item in year_arr] # converts numbers to string
    
year_list_str

['10', '11', '12', '13', '14', '15', '16', '17', '18']

In [18]:
for year in year_list_str:
    print(totals(rent_df,year))

0      6362
1      6301
2      7155
3      7048
4      8644
5      6032
6      6114
7      5418
8      6064
9      8306
10     8666
11     6808
12     7102
13     7976
14     7161
15     6174
16     5885
17     5710
18     7921
19     7924
20     7491
21     9596
22     7305
23     9320
24     6085
25     7284
26     5864
27     8371
28     6260
29     6943
      ...
33     7447
34     6998
35     7304
36     5939
37     5704
38     5868
39     5889
40     6288
41     5999
42     8683
43     6233
44     6196
45     6069
46     6392
47    23536
48     7151
49    19171
50     6079
51     6398
52     5522
53    13150
54     7853
55     5983
56     6724
57     7098
58     6458
59     6064
60     5853
61     7270
62     6207
Length: 63, dtype: int64
0      30723
1      34471
2      42407
3      41051
4      52856
5      31133
6      36285
7      30867
8      31277
9      50749
10     48312
11     37977
12     39661
13     41205
14     40705
15     37659
16     30815
17     29344
18     42007
19     42140
20     38809
21     53120
22     36655
23     53096
24     30344
25     40284
26     35917
27     51035
28     35627
29     37254
       ...
33     36736
34     42413
35     44162
36     37995
37     34702
38     30397
39     30807
40     33598
41     31582
42     52744
43     37596
44     33088
45     31881
46     36907
47    127688
48     44766
49    101636
50     30945
51     39710
52     34134
53     69361
54     40306
55     32209
56     39437
57     39640
58     37292
59     29865
60     34341
61     38955
62     33709
Length: 63, dtype: int64
0      28821
1      35739
2      45678
3      44269
4      52816
5      29851
6      37187
7      32413
8      29939
9      49586
10     46451
11     40084
12     38692
13     39673
14     43470
15     42695
16     30007
17     29281
18     39465
19     42804
20     38314
21     50271
22     34822
23     52995
24     28978
25     42581
26     39761
27     52040
28     37669
29     36974
       ...
33     36010
34     44622
35     44754
36     41975
37     38590
38     29645
39     29746
40     35080
41     32118
42     52688
43     42397
44     33713
45     30348
46     39975
47    123665
48     46269
49     95365
50     29512
51     41019
52     37410
53     65532
54     37921
55     32308
56     42125
57     39891
58     40576
59     28593
60     37841
61     38086
62     34381
Length: 63, dtype: int64
0      30433
1      38924
2      49364
3      48263
4      56455
5      32700
6      40827
7      37094
8      32073
9      56336
10     52137
11     40165
12     40460
13     41132
14     46185
15     45522
16     32206
17     30830
18     40905
19     46078
20     39644
21     55084
22     37181
23     58366
24     31431
25     45762
26     43776
27     58240
28     39682
29     38700
       ...
33     37598
34     48324
35     49995
36     47594
37     44866
38     31425
39     32378
40     37893
41     35341
42     55809
43     44105
44     36523
45     32281
46     43740
47    139274
48     51547
49    108971
50     31076
51     47255
52     40589
53     68816
54     39094
55     35156
56     46954
57     41426
58     42612
59     31176
60     43551
61     37890
62     35900
Length: 63, dtype: int64
0      35338
1      43654
2      53889
3      52768
4      62256
5      35965
6      45496
7      41836
8      36329
9      59751
10     55429
11     47934
12     46253
13     47530
14     51620
15     50234
16     36867
17     35377
18     48414
19     54086
20     46726
21     64645
22     42678
23     65464
24     35330
25     50898
26     48677
27     63926
28     44805
29     44368
       ...
33     44049
34     51749
35     53547
36     49460
37     45927
38     36191
39     35883
40     44089
41     40952
42     60294
43     49299
44     41617
45     36471
46     48146
47    151423
48     55759
49    118992
50     36568
51     51133
52     45420
53     72159
54     44954
55     39570
56     49743
57     45785
58     48107
59     34997
60     47975
61     45668
62     43402
Length: 63, dtype: int64
0      42870
1      53977
2      61646
3      61781
4      75947
5      42999
6      52941
7      45888
8      43399
9      75575
10     67766
11     61497
12     58964
13     56869
14     59076
15     57185
16     44021
17     42041
18     59744
19     64403
20     54878
21     77554
22     49551
23     83258
24     41639
25     59236
26     56145
27     77660
28     52528
29     52094
       ...
33     53196
34     62760
35     64871
36     58693
37     52775
38     42631
39     43435
40     49632
41     46329
42     76171
43     56483
44     47293
45     44678
46     57273
47    177832
48     65678
49    150193
50     43563
51     58609
52     51266
53     94538
54     55618
55     46798
56     58743
57     54840
58     55634
59     41458
60     54058
61     56137
62     50441
Length: 63, dtype: int64
0      45681
1      54833
2      65690
3      64072
4      78557
5      46775
6      54683
7      48147
8      47102
9      73448
10     72182
11     61292
12     61949
13     62153
14     61462
15     57397
16     47426
17     44217
18     64533
19     67152
20     58611
21     80636
22     54499
23     86230
24     44587
25     63177
26     54229
27     79339
28     53875
29     54622
       ...
33     56955
34     64219
35     67293
36     57787
37     53171
38     46151
39     46788
40     53234
41     49051
42     77006
43     57848
44     50989
45     48789
46     57852
47    193510
48     66790
49    160275
50     46207
51     57475
52     50702
53    105237
54     59743
55     50422
56     57462
57     62134
58     55207
59     44562
60     54934
61     58110
62     53177
Length: 63, dtype: int64
0      45747
1      53741
2      61917
3      59849
4      71952
5      45098
6      52414
7      43747
8      45230
9      68870
10     68794
11     55385
12     56496
13     58254
14     57491
15     55167
16     44539
17     42318
18     60947
19     63365
20     54780
21     80655
22     51854
23     83106
24     43736
25     60904
26     53018
27     76170
28     50628
29     52528
       ...
33     54700
34     60638
35     64255
36     54659
37     50236
38     43351
39     44454
40     50425
41     46989
42     71138
43     55198
44     49167
45     47583
46     54759
47    182993
48     63153
49    147824
50     45820
51     54793
52     48045
53    107361
54     57069
55     49296
56     54675
57     58433
58     52907
59     43284
60     51436
61     54588
62     52141
Length: 63, dtype: int64
0      32090
1      40077
2      46656
3      45681
4      54149
5      33824
6      38393
7      32417
8      33649
9      51354
10     49156
11     42890
12     42794
13     42742
14     43971
15     43179
16     33420
17     31745
18     45093
19     46467
20     41285
21     61713
22     39996
23     60329
24     31833
25     44574
26     39214
27     58584
28     37701
29     38525
       ...
33     40647
34     45348
35     47974
36     42387
37     37756
38     32746
39     33667
40     37850
41     35602
42     52814
43     42972
44     36131
45     33856
46     41298
47    124560
48     48500
49    101210
50     31837
51     41497
52     35362
53     73506
54     42223
55     36075
56     41360
57     42297
58     39293
59     31311
60     38234
61     41366
62     39917
Length: 63, dtype: int64

In [ ]:
#Create new DataFrame 
#Convert Monthly Rent Rates to Yearly Rent Rates
rent_short_df = pd.DataFrame({"Region Name": rent_df["Region Name"],
                             "Region Type": rent_df["Region Type"],
                              "Data Type": rent_df["Data Type"]})

rent_short_df['2010'] = rent_df.apply(lambda row: row["Nov-10"] + row["Dec-10"], axis=1)
rent_short_df['2011'] = rent_df.apply(lambda row: row["Jan-11"] + row["Feb-11"]+ row["Mar-11"]
                                + row["Apr-11"]+ row["May-11"]+ row["Jun-11"]+ row["Jul-11"]
                                + row["Aug-11"]+ row["Sep-11"]+ row["Oct-11"]+ row["Nov-11"]+
                                row["Dec-11"], axis=1)
rent_short_df['2012'] = rent_df.apply(lambda row: row["Jan-12"] + row["Feb-12"]+ row["Mar-12"]
                                + row["Apr-12"]+ row["May-12"]+ row["Jun-12"]+ row["Jul-12"]
                                + row["Aug-12"]+ row["Sep-12"]+ row["Oct-12"]+ row["Nov-12"]+
                                row["Dec-12"], axis=1)
rent_short_df['2013'] = rent_df.apply(lambda row: row["Jan-13"] + row["Feb-13"]+ row["Mar-13"]
                                + row["Apr-13"]+ row["May-13"]+ row["Jun-13"]+ row["Jul-13"]
                                + row["Aug-13"]+ row["Sep-13"]+ row["Oct-13"]+ row["Nov-13"]+
                                row["Dec-13"], axis=1)
rent_short_df['2014'] = rent_df.apply(lambda row: row["Jan-14"] + row["Feb-14"]+ row["Mar-14"]
                                + row["Apr-14"]+ row["May-14"]+ row["Jun-14"]+ row["Jul-14"]
                                + row["Aug-14"]+ row["Sep-14"]+ row["Oct-14"]+ row["Nov-14"]+
                                row["Dec-14"], axis=1)
rent_short_df['2015'] = rent_df.apply(lambda row: row["Jan-15"] + row["Feb-15"]+ row["Mar-15"]
                                + row["Apr-15"]+ row["May-15"]+ row["Jun-15"]+ row["Jul-15"]
                                + row["Aug-15"]+ row["Sep-15"]+ row["Oct-15"]+ row["Nov-15"]+
                                row["Dec-15"], axis=1)
rent_short_df['2016'] = rent_df.apply(lambda row: row["Jan-16"] + row["Feb-16"]+ row["Mar-16"]
                                + row["Apr-16"]+ row["May-16"]+ row["Jun-16"]+ row["Jul-16"]
                                + row["Aug-16"]+ row["Sep-16"]+ row["Oct-16"]+ row["Nov-16"]+
                                row["Dec-16"], axis=1)
rent_short_df['2017'] = rent_df.apply(lambda row: row["Jan-17"] + row["Feb-17"]+ row["Mar-17"]
                                + row["Apr-17"]+ row["May-17"]+ row["Jun-17"]+ row["Jul-17"]
                                + row["Aug-17"]+ row["Sep-17"]+ row["Oct-17"]+ row["Nov-17"]+
                                row["Dec-17"], axis=1)
rent_short_df['2018'] = rent_df.apply(lambda row: row["Jan-18"] + row["Feb-18"]+ row["Mar-18"]
                                + row["Apr-18"]+ row["May-18"]+ row["Jun-18"]+ row["Jul-18"]
                                + row["Aug-18"]+ row["Sep-18"], axis=1)
rent_short_df.head()

In [ ]:
#Remove year 2010 and 2018, because Data set for this year do not include 12 month period
rent = rent_short_df.drop(['2010','2018'], axis=1)

In [ ]:
#Adding new columns to DataFrame 
rent["Avg Rent Rate"] = ""
rent["City"] = ""

In [ ]:
#Counting Average Rent Rate for each Neighborhood
#Adding column "City", to specify the locations of Neighborhoods
for row in rent["Region Name"]:
    rent["Avg Rent Rate"]=rent.mean(axis=1)
    rent["City"] = "San Francisco"
rent.head()

In [ ]:
# Extracting Lat and Lng for each Neighborhood
rent["Lat"] = ""
rent["Lng"] = ""
# create a params dict
params = {"key": "AIzaSyAeEnQ_KhM7iD3A92bkFRr9lHJVg1Z6CeQ"}

# Loop through the rent dataframe and run a lat/long search for each neighborhood
for index, row in rent.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"

    neighborhood = row["Region Name"]
    city = row["City"]

    # update address key value
    params['address'] = f"{neighborhood},{city}"

    # make request
    lat_lng = requests.get(base_url, params=params)
    
    # convert to json
    lat_lng = lat_lng.json()

    rent.loc[index, "Lat"] = lat_lng["results"][0]["geometry"]["location"]["lat"]
    rent.loc[index, "Lng"] = lat_lng["results"][0]["geometry"]["location"]["lng"]

In [ ]:
rent.to_csv('rent.csv', sep=',', encoding='utf-8')
rent.head()

### Creating Visual Graphs to see the patterns

In [ ]:
#Using Seaborn to create a graph that will show Average Rent Rate (per Neigborhood)
plot = plt.subplots(figsize=(30, 10))
sns.barplot(x = rent["Region Name"], y = rent["Avg Rent Rate"], palette="rocket")
plt.xticks(rotation=90)
plt.title("Average Rent Rate (per Neigborhood)", fontsize=30)

In [ ]:
#Importing csv file 
year_df = pd.read_csv("Yearly_Avg.csv")
year_df

In [ ]:
#Creating a graph that will show yearly change in price 
sns.lineplot(x = year_df["Year"], y = year_df["Year Avg ($)"], 
             marker ='D', linewidth=2, color = "purple")
plt.title("Rent Price(by Year)", fontsize=15)
plt.show()

### HeatMap

In [ ]:
#Creating a HeatMap to show Neighborhoods Rent Rates  
locations = rent[["Lat", "Lng"]]
weights = rent["Avg Rent Rate"]
fig = gmaps.figure(map_type="SATELLITE")
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, point_radius = 25))
fig